[[extend 'layout.html']]


<div class="section">
   <script src="js/editor.js"></script>
   <a class="button is-primary" onclick="dataToString()">
	   <span>Post</span>
   </a>

   <a class="button is-warning" href="[[=URL('editor')]]">
	   <span>Clear</span>
   </a>

   <br>

   <a class="button is-success" onclick="brushSize = 1">
	   <span>Brush Size: 1</span>
   </a>

   <a class="button is-success" onclick="brushSize = 2">
	   <span>Brush Size: 2</span>
   </a>

   <a class="button is-success" onclick="brushSize = 3">
	   <span>Brush Size: 3</span>
   </a>

   <br>

   <a class="button is-success" onclick="brushColor = 1">
	   <span>Set Color Black</span>
   </a>

   <a class="button is-success" onclick="brushColor = 0">
	   <span>Set Color White</span>
   </a>
</div>
