[[extend 'layout.html']]

<script>
	const images = []
	[[for d in range(0,len(data)):]]
	images[ [[=d]] ] = {
			id: "[[ = data[d]["id"] ]]",
			data: "[[ = data[d]["image_data"] ]]",
			title: "[[ = data[d]["title"] ]]",
			artist: "[[ = data[d]["user_email"] ]]",
			date: "[[ = data[d]["date_added"] ]]",
			owner: "[[ = owner[d] ]]",
		}
	[[pass]]
</script>

<style type="text/css">
	#drawings {
		width: min(100vw, 750px);
		padding-left: 0;
	    padding-right: 0;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	}

	#editorCanvas {
		position: fixed;
	}

	.feedCanvas {
	    display: block;
		border-color: black;
		border: dashed;
		margin-left: auto;
		margin-right: auto;
		padding: none;
	}

	input {
		width: 100%;
		background-color: #00000000;
		color: white;
		border: none;
		font-size: 3em;
		text-align: center;
		text-shadow: 3px 3px black;
	}

	#dim {
		position: fixed;
		padding: 0;
		margin: 0;
		width: 100vw;
		height: 100vh;
		left: 0px;
		top: 0px;
		background-color: rgba(0,0,0, 0.75);
	}

	#editorPostButton {
		position: fixed;
		left: 120px;
		top: 120px;
	}

	#editButton {
		position: fixed;
		height: 100px;
		padding-left: 64px;
		padding-right: 64px;
	}

	:root {
		background-color: #ddd;
	}

	#inputs {
		z-index: 10;
	}
</style>

<template id="_editorCloseButton">
	<a class="button is-danger" onclick="toggleEditor(); clearData()" id="editorCloseButton" style="position: fixed">
		<span class="icon">
			<i class="fa fa-fw fa-times"></i>
		</span>
	</a>
</template>

<template id="_editorPostButton">
	<a class="button is-success" onclick="dataToString()" id="editorPostButton" style="position: fixed; padding: 32px; padding-left: 64px; padding-right: 64px">
		<span>
			Post!
		</span>
	</a>
</template>

<template id="_editButton">
	<a class="button is-primary" onclick="toggleEditor()" id="editButton">
		<span>
			<span class="icon">
				<i class="fa fa-fw fa-pencil"></i>
			</span>
			New Picto
		</span>
	</a>
</template>

<template id="_editorTitle">
	<div class="field" id="editorTitle" style="position: fixed;">
		<input type="title" id="editorTitleVal" placeholder="My awesome picto">
	</div>
</template>

<template id="_dim">
	<div id="dim"></div>
</template>

<template id="_feedEntry">
	<div class="box">
		<article class="media">
			<div class="media-content">
				<div class="content">
					<p>
					<div class="feedEntryTitle"></div>
					<div class="feedEntryUser"></div>
					<br>
						<canvas class=feedCanvas ></canvas>
					</p>
				</div>
				<nav class="level is-mobile">
					<div class="level-left">
						<a class="level-item" aria-label="retweet">
							<span class="icon is-small">
								<i class="fa fa-retweet" aria-hidden="true"></i>
							</span>
						</a>
						<a class="level-item" aria-label="like">
							<span class="icon is-small">
								<i class="fa fa-heart" aria-hidden="true"></i>
							</span>
						</a>
						<div class="feedTrash"></div>
					</div>
				</nav>
			</div>
		</article>
	</div>
</template>

<template id="_friendInput">
	<div id="friendInput" style="position: absolute; width: 300px; top: 64; left: 64;">
		<input class="input" id="codeInput" type="text">
		<input class="input" type="button" value="Add Friend" onclick="addFriend()">
	</div>
</template>

<div class="section">
	<div id="editorDiv">
		<canvas id="editorCanvas"></canvas>
	</div>

	<div id="drawings"></div>
</div>

<script>
	const width = 128
	const height = 64
	let showEditor = true

	const fromTemplate = (template) => {
		return document.getElementById(template).content.firstElementChild.cloneNode(true)
	}

	const addFriend = () => {
		let link = window.location.href
		let code = document.getElementById("codeInput").value
		if (code == "") {
			return
		}
    	window.location.href = link.substring(0, link.length - 5) + "add_friend/" + code
	}

	const deleteImage = (id) => {
		let link = window.location.href
    	window.location.href = link.substring(0, link.length - 5) + "delete_image/" + id
	}
</script>
<script src="js/viewer.js"></script>
<script src="js/editor.js"></script>
<script> toggleEditor() </script>
