[[extend 'layout.html']]

<script>
	const images = []
		[[for d in range(0,len(data)):]]
		images[ [[=d]] ] = {
				data: "[[ = data[d]["image_data"] ]]",
				title: "[[ = data[d]["title"] ]]",
			}
		[[pass]]
</script>

<style type="text/css">
	#drawings {
		width: min(100vw, 500px);
		padding-left: 0;
	    padding-right: 0;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	}

	#editorCanvas {
		position: absolute;
	}

	#dimCanvas {
		position: absolute;
		padding: 0;
		margin: 0;
		display: block;
		left: 0px;
		top: 0px;
	}

	#editorPostButton {
		position: absolute;
		padding: 0;
		margin: 0;
		display: block;
		left: 120px;
		top: 120px;
	}
</style>

<div class="section">
	<div id="editorDiv">
		<canvas id="editorCanvas"></canvas>
		<canvas id="dimCanvas"></canvas>
	</div>

	<a class="button is-warning" onclick="toggleEditor()">
		<span class="icon">
			<i class="fa fa-fw fa-pencil"></i>
		</span>
		<span>Edit</span>
	</a>

	<div id="drawings"></div>
</div>

<script>
	const width = 128
	const height = 64
	let showEditor = true
</script>
<script src="js/viewer.js"></script>
<script src="js/editor.js"></script>
<script> toggleEditor() </script>
